<div class="row">
<div class="login_signup col-md-2 col-md-offset-3">
<h1>Update settings</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <ul class="create_account_block list-inline">
    <ui>
      <div class="actions">
        <%= f.submit "Update profile", :class=>'btn btn-success btn-lg' %>
      </div>
    </ui>
  </ul>

<% end %>

<div class="login_regist_block">
  <p class="help-block">Forgot or do not like the current password? </p>
  <%= link_to "Reset it.", new_password_path(resource_name), :class=>'text_underline' %></li>
</div>

<div class="login_regist_block">
  <p class="help-block">Unhappy? Or just want to create a new one? </p>
  <%= link_to "Cancel my account.", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>'text_underline' %>
</div>
</div>
</div>
