<div class="row">
<div class="login_signup col-md-2 col-md-offset-3">
<h1>Create a Thirvolution Account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <p class="help-block">(<%= @minimum_password_length %> characters minimum)</p>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <ul class="create_account_block list-inline">
    <ui>
      <div class="actions">
        <%= f.submit "Create New Account", :class=>'btn btn-success btn-lg' %>
      </div>
    </ui>
  </ul>

  <div class="login_regist_block">
    <p class="help-block">Already have an account? </p>
    <%= link_to "Log in.", new_user_session_path, :class=>'text_underline' %>
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <div class="google_regist_block">
  <p class="help-block">Do you have a Google account?</p>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign up with Google", omniauth_authorize_path(resource_name, provider), method: :get, :class=>'btn btn-success btn-lg' %>
    <% end -%>
  </div>
<% end -%>

</div>
</div>
