<div class="row">
<div class="login_signup col-md-2 col-md-offset-3">
<h1>Resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <ul class="create_account_block list-inline">
    <ui>
      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    </ui>
  </ul>
<% end %>

</div>
</div>
