<div class="thirv_dashboard">
  <p><strong><%= @new_activity_count %></strong> Thirvolutists created new activities today!</p>
  <p><strong><%= @new_participation_count %></strong> Thirvolutists started new Thirvolutions today!</p>
  <p><strong><%= @daily_finish_count %></strong> daily activities finished today!</p>
  <p><strong><%= @thirv_finish_count %></strong> Thirvolutions finished today!</p>
  <p><strong><%= @perfect_finish_count %></strong> PERFECT Thirvolutions finished today!</p>
</div>
