<% if user_signed_in? %>
  <% if @current_participation %>
    <h1>Hello, Day <%= @day_count %></h1>
    <h2> -- with #<%= @current_activity.title %>!</h2>
    <blockquote>
      <p>I'm ready to continue my self revolution!</p>
      <footer><%= current_user.username %>, one of the greatest Thirvolutionists</footer>
    </blockquote>
    <% if @finished_today %>
      <p class="lead bg-success"><strong>Great! You have finished today's Thirvolution!</strong></p>
    <% else %>
      <%= button_to('I Finished today\'s Thirvolution ;-)', finish_activity_path(@current_activity.id), :class => 'btn btn-success btn-lg')  %>
    <% end %>
  <% else %>
    <h1>Hello, Day 0! </h1>
    <blockquote>
      <p>So, this is how I start my self revolution!</p>
      <footer><%= current_user.username %>, one of the most prospective Thirvolutionists</footer>
    </blockquote>
    <p class="lead">How about just pick an <%= link_to 'Thirvolution', controller: 'activities' %>?</p>
    <p class="lead">Or create a <%= link_to 'new one', new_activity_path %></p>
  <% end %>
<% else %>
    <h1>Hello, Day 0! </h1>
    <p>TODO: Show sign up message</p>
<% end %>
<p>TODO: Show activity dashboard</p>
