<div class="row">
<div class="login_signup col-md-2 col-md-offset-3">
<h1>Welcome to Thirvolution</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :login, "Email" %><p class="help-block"> (or username)</p><br />
    <%= f.text_field :login, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <%- if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <ul class="login_forgot_password_block list-inline">
    <li>
      <div class="actions">
        <%= f.submit "Log In", :class=>'btn btn-success btn-lg' %>
      </div>
    </li>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <li><p class="help-block">Forgot your password? </p>
      <%= link_to "Reset it.", new_password_path(resource_name), :class=>'text_underline' %></li>
    <% end -%>
</ul>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <div class="login_regist_block">
  <p class="help-block">Do you have a Google account?</p>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, provider) %>
    <% end -%>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="login_regist_block">
    <p class="help-block">Don’t have an account? </p>
    <%= link_to "Create a Thirvolution account.", new_registration_path(resource_name) %>
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="login_regist_block">
    <p class="help-block">Didn't receive confirmation instructions?</p>
    <%= link_to "Resend.", new_confirmation_path(resource_name) %><br />
  </div>
<% end -%>

</div>
</div>
