<%- model_class = Activity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag activities_path, :method => 'get', :id => "activities_search" do %>
  <div class="activity-search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "btn btn-info btn-sm", :id => "activity-search-btn" %>
    <%= link_to(activities_path, :class => "btn btn-default btn-sm", :id => "activity-search-clear-btn") do %>
          <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </div>
  <table class="table table-striped activity-table">
    <thead>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td title="Participation Count" class="activity-participation-count">
            <span class="glyphicon glyphicon-flag"></span>
            <%= activity.participate_count %>
          </td>
          <td class="activity-title full-width"><%= link_to activity.title, activity %></td>
          <td title="Creation Time" class="pull-right activity-creation-time full-width">
            <span class="glyphicon glyphicon-time"></span>
            <%= activity_time_format activity.created_at %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="activity-sort"><%= sortable "participate_count", "", params[:page] %></td>
        <td class="activity-title full-width"></td>
        <td class="pull-right full-width activity-sort"><%= sortable "created_at", "", params[:page] %></td>
      </tr>
    </tbody>
  </table>
  <div id="activities"><%= render 'activities' %></div>
<% end %>

<% if @not_participated %>
  <p class="help-block lead">Or create a <%= link_to 'new one.', new_activity_path %></p>
<% end %>
