<h1>Create Thirvolution Activity and start TODAY!!!</h1>

<%= form_for :activity, url: activities_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %> | 
<%= link_to 'I feel lucky!', activities_path %>
