<%- model_class = Activity -%>
<div class="page-header">
  <h1>Create an Activity<small> and start Thirvolution TODAY!</small></h1>
</div>

<div class="create_activity">
  <%= form_for :activity, url: activities_path do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Input activity title...", :maxlength=>"128" %>
    </p>

    <p>
      <%= f.submit "Create and participate this activity!", :class=>"btn btn-success btn-lg" %>
    </p>
  <% end %>
</div>

<div class="back_lucky_block">
  <%= render 'footer_menu' %>
</div>
