<%- model_class = Activity -%>
<div class="page-header">
  <h1>Create an Activity and start Thirvolution TODAY!</h1>
</div>

<%= form_for :activity, url: activities_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Create and participate this activity!" %>
  </p>
<% end %>

<%= link_to 'Back', root_path %> |
<%= link_to 'I feel lucky!', activities_path %>
