<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  There are <strong><%= @activity.participate_count %></strong> users participated this activity
</p>

<% if current_user.activity_id == @activity.id %>
    <p>
      You participated in this activity on <strong><%= current_user.participate_date %></strong>
    </p>
<% elsif @not_participated %>
  <%= form_for(@activity, url: participate_activity_path) do |f| %>
    <%= f.submit "Participate this activity NOW!" %>
  <% end %>
<% end %>

<%= link_to 'Back', root_path %> |
<%= link_to 'I feel lucky!', activities_path %>
