<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  There are <strong><%= @activity.participate_count %></strong> users participated this activity
</p>

<% if @current_participation and @current_participation.activity == @activity %>
    <p>
      You have participated in this activity at <strong><%= @current_participation.created_at %></strong>
    </p>
<% elsif !@current_participation %>
  <%= form_for(@activity, url: participate_activity_path) do |f| %>
    <%= f.submit "Participate this activity NOW!" %>
  <% end %>
<% end %>

<%= link_to 'Back', root_path %> |
<%= link_to 'I feel lucky!', activities_path %>
